.divDetalle {
  padding: 3vw 0 3vw 5vw;
}
.divBtn {
  margin: 1vw 3vw 2vw 2vw;
}

.detalleCard {
  background: #2e1a06;
  border-radius: 1vw;
  box-shadow: 0 0 10px 2px rgb(234, 124, 14);
  font-family: cursive;
  width: 90vw;
}

.detalleCard h1 {
  color: white;
  font-size: 2vw;
  font-weight: bold;
  padding: 1vw 1vw 2vw 3vw;
  text-align: center;
  text-transform: uppercase;
}
.detalleCard section {
  color: white;
  margin: 2vw;
  padding: 2vw;
}
.detalleCard section p {
  text-align: left;
}
.detalleCard section h3 {
  text-align: left;
}
.detalleCard img {
  border-radius: 100%;
  height: 30vw;
  padding: 3vw 3vw 0vw 3vw;
  width: 30vw;
}
.detalleCard p {
  font-size: 1.5vw;
}
.volver {
  background: #2e1a06;
  border-color: white;
  border-radius: 1vw;
  color: white;
  font-size: 7vw;
  margin-bottom: 2vw;
  margin-left: 40vw;
  width: 10vw;
  transition: all ease 0.3s;
}
.volver:hover {
  border-color: white;
  box-shadow: 4px 0px 25px 10px white;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
h1 {
  font-family: cursive;
}
